.main-weather-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature-toggle {
  display: flex;
  flex-direction: column;
}

.simple-btn {
  padding: 10px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 200ms ease;
}

.simple-btn:hover {
  background-color: rgb(241, 151, 99);
}

.last-fetched-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-fetched-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.location-names {
  margin-right: 20px;
}
